<!-- 
  File: discover.html
  Description: This page displays 10 movies currently playing in theaters.
  Displays the title, poster, release date, and description for each movie.
  Authors: Kaleb Phillips & Arnulfo Rivera 
  Date: August 7 2024
  Class: UTSA CS-4843-01T Cloud Computing
-->
<!DOCTYPE html>
<html>
<head>
    <title>Now Playing</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div>
    <div>
        <h1 style = "color:blanchedalmond">Now Playing</h1>
        <p style = "color: aquamarine;">10 Movies Currently Playing in Theatres - updated daily</p>
    </div>
    </div>
    </body>

    <h1>{{ title0 }}</h1>
    <img id="poster0">
    <script>
        var img0 = "{{image0}}";
        var source = `https://image.tmdb.org/t/p/w500${img0}`;
        document.getElementById("poster0").setAttribute("src", source);
    </script>
    <p>{{ release_date0 }}</p>
    <p>{{ description0 }}</p> 
    
    <h1>{{ title1 }}</h1>
    <img id="poster1">
    <script>
        var img1 = "{{image1}}";
        var source = `https://image.tmdb.org/t/p/w500${img1}`;
        document.getElementById("poster1").setAttribute("src", source);
    </script> 
    <p>{{ release_date1 }}</p>
    <p>{{ description1 }}</p>

    <h1>{{ title2 }}</h1>
    <img id="poster2">
    <script>
        var img2 = "{{image2}}";
        var source = `https://image.tmdb.org/t/p/w500${img2}`;
        document.getElementById("poster2").setAttribute("src", source);
    </script> 
    <p>{{ release_date2 }}</p>
    <p>{{ description2 }}</p>

    <h1>{{ title3 }}</h1>
    <img id="poster3">
    <script>
        var img3 = "{{image3}}";
        var source = `https://image.tmdb.org/t/p/w500${img3}`;
        document.getElementById("poster3").setAttribute("src", source);
    </script>
    <p>{{ release_date3 }}</p>
    <p>{{ description3 }}</p> 
    
    <h1>{{ title4 }}</h1>
    <img id="poster4">
    <script>
        var img4 = "{{image4}}";
        var source = `https://image.tmdb.org/t/p/w500${img4}`;
        document.getElementById("poster4").setAttribute("src", source);
    </script> 
    <p>{{ release_date4 }}</p>
    <p>{{ description4 }}</p>

    <h1>{{ title5 }}</h1>
    <img id="poster5">
    <script>
        var img5 = "{{image5}}";
        var source = `https://image.tmdb.org/t/p/w500${img5}`;
        document.getElementById("poster5").setAttribute("src", source);
    </script> 
    <p>{{ release_date5 }}</p>
    <p>{{ description5 }}</p>

    <h1>{{ title6 }}</h1>
    <img id="poster6">
    <script>
        var img6 = "{{image6}}";
        var source = `https://image.tmdb.org/t/p/w500${img6}`;
        document.getElementById("poster6").setAttribute("src", source);
    </script>
    <p>{{ release_date6 }}</p>
    <p>{{ description6 }}</p> 
    
    <h1>{{ title7 }}</h1>
    <img id="poster7">
    <script>
        var img7 = "{{image7}}";
        var source = `https://image.tmdb.org/t/p/w500${img7}`;
        document.getElementById("poster7").setAttribute("src", source);
    </script> 
    <p>{{ release_date7 }}</p>
    <p>{{ description7 }}</p>

    <h1>{{ title8 }}</h1>
    <img id="poster8">
    <script>
        var img8 = "{{image8}}";
        var source = `https://image.tmdb.org/t/p/w500${img8}`;
        document.getElementById("poster8").setAttribute("src", source);
    </script> 
    <p>{{ release_date8 }}</p>
    <p>{{ description8 }}</p>

    <h1>{{ title9 }}</h1>
    <img id="poster9">
    <script>
        var img9 = "{{image9}}";
        var source = `https://image.tmdb.org/t/p/w500${img9}`;
        document.getElementById("poster9").setAttribute("src", source);
    </script>
    <p>{{ release_date9 }}</p>
    <p>{{ description9 }}</p> 
    

    <div>
        <form action="/" method="get">
            <input type="submit" value="Back to search">
        </form>
    </div>
</body>
</html>